.box {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }


  /* Scale up the box */
  .box:hover {
    transform: scale(1.05, 1.05);
    background-color: #B8C1FC;
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
  .box:hover::after {
    opacity: 1;
  }
  